<%= render :partial => "flash", :locals => {:flash => flash} %>

<br />
<br />

<!-- <div class="span12 offset2 status-bar">

	<div class="span2 status-bar-order">
	</div>
	
	<div class="span2 status-bar-started">
	</div>
	
	<div class="span2 status-bar-ready">
	</div>

	<div class="span2 status-bar-someone-else-eating">
	</div>

</div> -->

<br />
<br />

<div class="span6 event-description">
	<br />
	<p>Your order is being processed</p>
</div>

<br />
<br />
<br />
<br />
<%=image_tag 'sandwich.gif', :html=>{:class=>'offset6'}%>

<script>

// 	var changeColor = function(value){$('.status-bar-' + value).toggleClass('newClass',50000)}

// 	$.each(["order", "started", "ready", "someone-else-eating"],function(index,value){setTimeout(changeColor(value),1000)}
// 	)

</script>