<div class="hero-unit">
	<h1> Make Me a Sandwich!</h1>
	<p> Welcome to the General Things sandwich app. Click on the button below to order a delicious sandwich from one of the delightful General Things employees. 
	<p>

	<%= link_to "Order Now", new_sandwichizer_path, :class =>"btn btn-primary btn-large" %>

</div>